body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-container, .main-container {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 0 0 20px 0;
    text-align: center;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 20px 0;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #current-value {
    margin: 20px 0;
    text-align: center;
  }
  
  #score-display {
    font-weight: bold;
    color: #ff0000;
  }
  
  #increment-btn {
    margin-top: 20px;
  }
  